@import "../../style/variables.scss";

.project-container {
  font-family: $primary-font;
  color: $primary-color2;
  padding-inline: 40px;
  margin-top: 2rem;

  .project {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .line {
    width: 98%;
    height: 1px;
    border: 1px solid;
  }

  .contents {
    .link {
      width: 100%;
      color: $primary-color2;

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          text-transform: uppercase;
          width: 200px;
          padding: 50px 0;
          font-weight: 100;
        }

        .testts {
          display: flex;
          align-items: center;
          width: 65vw;
          justify-content: space-between;
          .details {
            max-width: 390px;
          }
          .details:hover {
            color: $primary-color1;
          }
          .visit-btn {
            margin-right: 30px;
            width: 100px;
            height: 40px;
            border-radius: 25px;
            cursor: pointer;
          }
        }
      }
      // a:hover {
      //   color: $primary-color1;
      // }
    }
    .link:hover {
      color: $primary-color1;
      transform: translateX(10px);
    }
  }

  @include media("<= 898px") {
    padding-left: 12px;

    .contents {
      .link {
        a {
          flex-wrap: wrap;
          h1 {
            padding: 20px 0;
          }
          .testts {
            display: flex;
            align-items: center;
            width: 90vw;
            justify-content: space-between;
            .details {
              max-width: 350px;
            }
            .visit-btn {
              margin-right: 30px;
              width: 100px;
              height: 40px;
              border-radius: 25px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  @include media("<= 579px ") {
    .contents {
      .link {
        a {
          .visit-btn {
            display: none;
          }
        }
      }
    }
  }
}
