@import "../../style/variables.scss";

.body-container {
  color: $primary-color2;
  font-family: $primary-font;
  height: 100vh;
  width: 100%;
  margin-bottom: 4rem;
  .text {
    padding-top: 10rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 15vh;

    h1 {
      font-size: 11vw;
      font-weight: 600;
      padding-left: 25px;
    }
    .ft-text {
      animation: slideFromLeft 2s linear 1;
    }
    .dev-text {
      padding-left: 20rem;
      animation: slideFromRight 2s linear 1;
    }
  }

  .git-box {
    width: 250px;
    height: 250px;
    margin: auto;
    a {
      font-family: inherit;
      color: inherit;
      text-decoration: none;
      font-size: 40px;
    }
  }

  @include media("<= 1162px") {
    .text {
      h1 {
        padding: 0;
      }
      .dev-text {
        padding-left: 14rem;
      }
    }
  }
  @include media("<= tablet") {
    .text {
      padding-top: 10rem;
      h1 {
        font-size: 11vw;
        font-weight: 600;
      }

      .dev-text {
        padding-left: 14vw;
      }
    }

    .git-box {
      width: fit-content;
      height: fit-content;
      margin: auto;
    }
  }
  @include media("<= 480px ") {
    .text {
      margin-top: 2px;
      padding-top: 20rem;

      h1 {
        font-size: 13vw;
      }
    }

    .git-box {
      width: fit-content;
      height: fit-content;
      margin: auto;
    }
  }

  @keyframes slideFromRight {
    0% {
      transform: translateX(150px);
      opacity: 0;
    }

    50% {
      transform: translateX(100px);
      opacity: 0.5;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slideFromLeft {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    50% {
      transform: translateX(-100px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
