@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700&display=swap");
@import "../breakpoint/breakpoint.scss";

$primary-font: "Gantari", sans-serif;

$primary-color: #a3a3a3;
$primary-color1: #e7e7e7;
$primary-color2: #aaaaaa;
$primary-color3: #757575;
